<nav class="navbar">
  <div class="navbar-content">

    <a routerLink="/animales" class="navbar-brand">
      🦁 Zoo App
    </a>

    <ul class="navbar-links">
      <li>
        <a 
          routerLink="/animales" 
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          🏠 Inicio
        </a>
      </li>
      <li>
        <a 
          routerLink="/animales/crear" 
          routerLinkActive="active"
        >
          ➕ Añadir Animal
        </a>
      </li>
    </ul>

  </div>
</nav>